html {
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px;
}

input,
textarea,
select {
    border-radius: 0;
    border: 0;
    background-color: #f1f1f1;
    margin-bottom: 10px;
    margin-top: 3px;
    padding: 10px;
}

label[for="confirm_password_small"] {
    display: inline-block;
    margin-left: 10px;
    font-size: smaller;
}

#smaller {
    font-size: smaller;
}

label:not([for="terms"]) {
    font-weight: bold;
}

input#email,
input#password,
input#confirm_password,
textarea#notes {
    width: 48rem;
}

input#lastname,
input#firstname {
    width: 24rem;
}

textarea#notes {
    height: 6rem;
}

input[type="submit"] {
    background-color: #1fb37c;
    color: white;
    width: 22rem;
    height: 3rem;
}

input[type="reset"] {
    background-color: #fd7d7d;
    color: white;
    width: 22rem;
    height: 3rem;
}
